*{
    box-sizing: border-box;
    font-family: Poppins;

    margin: 0 ;
}
@media (max-width: 910px) {
    table{font-size: 0.6em;}
}
@media (max-width: 560px) {
    table{font-size: 0.4em;}
    #button1, #button2{
        font-size: 0.9em;
    }
}

body{
    background-color: #8FABD4;
        color: white;
}
header,footer{
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #161A30;
    text-align: center;
    padding-top: 20px;

}
header{
    border-bottom: 10px solid #373650;
}
footer{
    border-top: 10px solid #373650;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31304D;
    min-height: 720px;
    width: 100%;

}
section{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 560px;
    padding: 10px 0 10px 0;
    background-color: #373650;
    border-radius: 8px;
}
table{
    width: 90%;

}
table,tr,td{
    border-collapse: collapse;
    text-align: center;
}
tr,td{
    font-size: 1em; 
}
tr{
    color: black;
    background-color: #f1f1ff;
}
tr:first-child{
    color: white;
    background-color: #161A30;
}
tr:nth-child(even){
    background-color: #ffffff;
}

t1{
    height: 2%;
    color: black;
    margin-bottom: 2%;
}
h3 {
    margin-top: 2%;
    font-size: 24px;
}
input[type="text"]{
    background-color: #f1f1ff;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 20px;
    width: 15%;
}
#container{
    min-height: 100px;
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 2%;
}
#button1, #button2, #button3{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}
#button1{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button3{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button2{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button1:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
#button2:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
#button3:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
.check{
    font-size: 1.1em;    
}
.pdf-btn{
    border-radius: 5px;
    background-color: #f1f1ff;
    font-size: 16px;
}
.pdf-btn:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
input[type="checkbox"]{
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}