*{

    font-family: Poppins;
    margin: 0 ;
}
@media (max-width: 910px) {
    table{font-size: 0.6em;}
}
@media (max-width: 560px) {
    table{font-size: 0.4em;}
    #button1, #button2{
        font-size: 0.9em;
    }
}
@media (max-width: 768px) {
    header, footer {
        height: 50px;
        padding-top: 15px;
    }
    main {
        min-height: 500px;
    }
    section {
        width: 95%;
        min-height: 400px;
    }
    #container {
        width: 60%;
    }
    #button1, #button2, #button3 {
        width: 25%;
    }
    .box {
        width: 60%;
    }
}
@media (max-width: 480px) {
    header, footer {
        height: 40px;
        padding-top: 10px;
    }
    main {
        min-height: 400px;
    }
    section {
        width: 98%;
        min-height: 300px;
    }
    table {
        font-size: 0.3em;
    }
    #data {
        width: 30%;
        font-size: 16px;
    }
    #container {
        width: 100%;
        flex-direction: column;
    }
    #button1, #button2, #button3 {
        width: 80%;
        margin: 5px 0;
    }
    .box {
        width: 90%;
    }
    .polowa {
        float: none;
        width: 100%;
    }
    .button, .btnselect {
        width: 90%;
    }
    .btnsubmit {
        width: 80%;
        margin-left: 10%;
    }
}

body{
    background-color: #31304D;
    color: white;
}
header,footer{
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    padding-top: 20px;

}
header{
    border-bottom: 10px solid #373650;
}
footer{
    border-top: 10px solid #373650;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31304D;
    min-height: 720px;
    width: 100%;

}
section{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 560px;
    padding: 10px 0 10px 0;
    background-color: #373650;
    border-radius: 8px;
}
table{
    width: 90%;

}
table,tr,td{
    border-collapse: collapse;
    text-align: center;
}
tr,td{
    font-size: 0.9em; 
    width: 130px;
}
tr{
    color: black;
    background-color: #f1f1ff;
}
tr:first-child{
    color: white;
    background-color: #161A30;
}
tr:nth-child(even){
    background-color: #ffffff;
}

t1{
    height: 2%;
    color: black;
    margin-bottom: 2%;
}
h3 {
    margin-top: 2%;
    font-size: 24px;
}
#data{
    background-color: #f1f1ff;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 20px;
    width: 15%;
}
#container{
    min-height: 100px;
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 2%;
}
#button1, #button2, #button3{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}
#button1{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button3{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button2{

    border-radius: 20px;
    background-color: #f1f1ff;
    font-size: 0.9em;
}
#button1:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
#button2:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
#button3:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
.check{
    font-size: 1.1em;    
}
.pdf-btn{
    border-radius: 5px;
    background-color: #f1f1ff;
    font-size: 13px;
}
.pdf-btn:hover{
    background-color: #b8b8ff;
    cursor: pointer;
}
input[type="checkbox"]{
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.polowa{
    float: left;
    width: 50%;

}
a{
    text-decoration: none;
    color: white;
}
#active{
    color: gray;
}
/* dodawanie html*/
.box{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    min-height: 400px;
    padding: 10px 0 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
#resetWidthBtn {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 0.8em;
    background-color: #f1f1ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetWidthBtn:hover {
    background-color: #b8b8ff;
}

}
#miniheader{
    width: 100%;
    height: 60px;
    background-color: #161A30;
    border-radius: 8px 8px 0 0 ;    

}#miniheader h2{
    color: white;
    text-align: center;
    padding-top: 15px;
}   
.button{
    display: flex;
    width: 96%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #31304D;
    color: white;
    font-size: 1em;
}
.btnsubmit{
    border-radius: 20px;
    background-color: #31304D;
    color: white;
    font-size: 16px;
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 15%;

}
.btnsubmit:hover{
    background-color: #161A30;
    cursor: pointer;
}
.btnselect{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #31304D;
    color: white;
    font-size: 1em;
}
#inpcontainer{
    font-size: 0.9em;
    position: absolute;
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="text"]{

    padding-left: 10px;
}




