*{
    box-sizing: border-box;
    font-family: Poppins;

    margin: 0 ;
}
@media (max-width: 910px) {
    table{font-size: 0.6em;}
}
@media (max-width: 560px) {
    table{font-size: 0.4em;}
    
}

body{
    background-color: #8FABD4;
        color: white;
}
header,footer{
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #161A30;
    text-align: center;
    padding-top: 20px;

}
header{
    border-bottom: 10px solid #373650;
}
footer{
    border-top: 10px solid #373650;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31304D;
    min-height: 720px;
    width: 100%;

}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 560px;
    padding: 10px 0 10px 0;
    background-color: #373650;
    border-radius: 8px;
}
table{
    width: 90%;

}
table,tr,td{
    border-collapse: collapse;
    text-align: center;
}
tr,td{
    font-size: 1em; 
}
tr{
    color: black;
    background-color: #f1f1ff;
}
tr:first-child{
    color: white;
    background-color: #161A30;
}
tr:nth-child(even){
    background-color: #ffffff;
}

t1{
    height: 2%;
    color: black;
    margin-bottom: 2%;
}
h3 {
    margin-top: 2%;
    font-size: 24px;
}
input[type="text"]{
    background-color: #f1f1ff;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 20px;
}
#button1{
    width: 10%;
    margin-top: 1%;
    border-radius: 20px;
    background-color: #f1f1ff;
    margin-bottom: 1%;
    font-size: 16px;
}
#button2{
    width: 10%;
    border-radius: 20px;
    background-color: #f1f1ff;
    margin-bottom: 1%;
    font-size: 16px;
}
#button1:hover{
    background-color: #b8b8ff;
}
#button2:hover{
    background-color: #b8b8ff;
}